# Conda packages (to be installed via conda separately)
# python==3.8
# faiss-gpu  # The GPU version is needed for indexing, but search is set to be done on CPU
# pip==21.0
# pytorch==1.13.1
# torchaudio==0.13.1
# torchvision==0.14.1
# cudatoolkit-dev==11.3
# gcc==9.4.0
# gxx==9.4.0
# make
# redis  # Redis is used to persist Flask's rate limit data to disk. This installs redis-server

# pip packages

